.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(150px,
                1fr));
    margin-top: 20px;
    gap: 16px;
}

.card-photo {
    width: 100%;
    height: auto;
    border-radius: 5px;
}